<h3><i class="fas fa-book-reader"></i> StoryBooks </h3>
<div class="secion">
    <p class="lead">Create public and private stories from your life</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Login with Google
    </a>
</div>

<!--
Client id
292203498966-goejus7m3droj649o3diaqj20nsql6rd.apps.googleusercontent.com

Client Secret
K-XL6somxU82uA_xkvR5J2pV

-->